{% extends "layout.html" %}

{% block content %}
{% load humanize %}

<div class="row">
	<div class="col-md-6">
		<h2><img src="https://image.eveonline.com/Type/{{kill.shipID}}_64.png" /> Kill details for #{{kill.killID}}</h2>
		<br>
		<strong>zKillboard Link:</strong> <a target="_blank" href="http://zkillboard.com/kill/{{kill.killID}}">http://zkillboard.com/kill/{{kill.killID}}</a><br>
		<strong>Submitted by:</strong> <a href="{% url "core:playerProfile" kill.owner|slugify %}"><img style="border-radius: 5px" src="//image.eveonline.com/Character/{{ kill.owner.mainChar.charID }}_32.jpg"> {{kill.owner}}</a>
		<br>
		<strong>Pilot:</strong> {{kill.pilot}} {% if apiwarning %} - <strong style="color: red">Warning: This character does not have a valid API in the database</strong>{%endif%}<br>
		<strong>Corporation:</strong> {{kill.corp}} <br>
		<strong>Ship:</strong> {{kill.ship}} <br>
		<strong>Value:</strong> {{kill.value|intcomma}}<br>
		<strong>Status:</strong> {{kill.get_status_display}} <br>
		<strong>Submitted on:</strong> {{kill.time}} <br>
		<hr>
		<strong>Why did you die:</strong>
		<pre>{{kill.aar}}</pre>
		<br>
		<strong>Did you learn anything from this death?</strong>
		<pre>{{kill.learned}}</pre>
		<strong>What would you have done differently as the fc?</strong>
		<pre>{{kill.suggestions}}</pre>
		<br>
		<br>
		{% if isFinance %}
		<h4>Change status:</h4>
			<form method="POST" action="" class="form-inline">
				<input type="submit" value="Approve" class="form-control btn-success" name="approve">
				<input type="submit" value="Deny" class="form-control btn-danger" name="deny">
				<input type="submit" value="Pending" class="form-control btn-warning" name="pending">
				{%csrf_token%}
			</form>
		{% endif %}
	</div>
	<div class="col-md-6">
		<h4>Comments:</h4>
		<form action="" method="POST">
			<textarea name="commentbody" rows="3" class="newcomment" placeholder="Type your comment here"></textarea>
			<input name="newComment" type="submit" class="pull-right">
			{%csrf_token%}
		</form>
			<hr>
		{% if kill.srpcomment_set.all|length > 0 %}
			{% for c in kill.srpcomment_set.all reversed %}
					<div class="alert comment">
						<img style="border-radius: 5px;" src="//image.eveonline.com/Character/{{c.author.mainChar.charID}}_32.jpg"> <strong><a href="{% url "core:playerProfile" c.author|slugify %}">{{c.author}}</a></strong> wrote: <span class="pull-right">{{c.date}}</span>
						<pre class="commentbody">{{c.text}}</pre>
					</div>		
			{% endfor %}
		{% else %}
			<i>No comments yet.</i>
		{% endif %}
	</div>

</div>
{%endblock content%}

 {% block title %}SRP for {{kill.ship}} - BAERS Core{% endblock title %}