{% extends "layout.html" %}

{% block content %}
<h2>Submit new SRP Request</h2>

{% if message %}
	<div class="alert alert-success">{{message}}</div>
{%endif%}
{% if error %}
	<div class="alert alert-danger">Invalid zKillboard link</div>
{%endif%}

<form action="" method="POST">
	<div class="form-group">
		<label for="link">zKillboard Link</label>
		<input type="text" class="form-control" id="link" name="link" placeholder="http://zkillboard.com/...">
	</div>
	<div class="form-group">
		<label for="fc">Fleet Commander</label>
		<input type="text" class="form-control" name="fc" id="fc" placeholder="Name of FC">
	</div>
	<div class="form-group">
		<label for="aar">Why did you die?</label>
		<textarea class="form-control" name="aar" id="aar" rows="3" placeholder="Write a short AAR how you died."></textarea>
	</div>
	<div class="form-group">
		<label for="learned">Did you learn anything from this death?</label>
		<textarea class="form-control" name="learned" id="learned" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label for="suggestions">What would you have done differently if you were the FC?</label>
		<textarea class="form-control" name="suggestions" id="suggestions" rows="3"></textarea>
	</div>
	<input type="submit">
	{%csrf_token%}
</form>
{% endblock content %}

 {% block title %}SRP Requests - {{CORP_FULLNAME}}{% endblock title %}