{% extends "layout.html" %}

{% load humanize %}
{% load getapps %}
{% block content %}
<h3>Viewing application of</h3>
<div class="row">
	<div class="col-lg-6">

		<div class="row dashboardHeader">
			<img src="//image.eveonline.com/Character/{{ profile.mainChar.charID }}_128.jpg" class="character">
			<h1 class="charName">{{ profile.mainChar.charName }}</h1>
		</div>

		<h2>Characters</h2>
		<table class="table table-hover" style="display: block;">
			<tr>
				<th>CharName</th>
				<th>Corporation</th>
				<th>SP</th>
				<th>ISK</th>
				<th>External</th>
				<th>Jackknife</th>
			</tr>
			{% for key in keys %}
		 	<tr>
		 		<td colspan="5" class="{% if not key.valid %}danger{% endif %}">Key {{forloop.counter}}: {{key.keyID}} : {{key.vCode}}</td>
		 		<td><a target="_blank" href="http://ridetheclown.com/eveapi/audit.php?usid={{key.keyID}}&apik={{key.vCode}}">API</a></td>
		 	</tr>
		 		{% for char in key.character_set.all %}
			 		<tr>
			 			<td><img src="//image.eveonline.com/Character/{{char.charID}}_32.jpg" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="{{char.charName}}">{{char.charName}}</td>
			 			<td><img src="//image.eveonline.com/Corporation/{{char.corpID}}_32.png" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="{{char.corpName}}">{{char.corpName}}</td>
			 			<td>{{char.sp|intcomma}}</td>
			 			<td>{{char.walletBalance|intcomma}}</td>
			 			<td><a href="http://eve-search.com/search/author/{{char.charName}}" target="_blank" title="{{char.charName}} on EVE-Search"><img width="16px" src="http://eve-search.com/favicon.ico"></a> <a target="_blank"  href="https://zkillboard.com/character/{{char.charID}}/" title="{{char.charName}} on zKillboard"><img width="16px" src="https://zkillboard.com/favicon.ico"></a> <a href="http://evewho.com/pilot/{{char.charName}}"  target="_blank" title="{{char.charName}} on EVE-Who"><img src="http://evewho.com/favicon.ico" width="16px"></a></td>
			 			<td><a target="_blank" href="http://ridetheclown.com/eveapi/audit.php?chid={{char.charID}}&usid={{key.keyID}}&apik={{key.vCode}}">API</a></td>
			 		</tr>
			 		{% endfor %}
			{% endfor %}
		</table>
 		<h2>Questions and Answers</h2>
 			{%for a in answers %}
 				<strong>{% autoescape off %}{{a.question}}{%endautoescape%}</strong>
 				<pre>{{a.text}}</pre>
 			{%endfor%}
		</div>
	<div class="col-lg-6">
		<h4>Status</h4>
		<form action="" method="POST">
			<table>
				<tr>
					<td>
						<label for="status">Status (visible to applicant):</label>
					</td>
					<td>
						<select class="form-control" style="height: 20px; padding: 0;" name="status" id="status">
							{% for choice in app.STATUS_CHOICES %}
								<option {%if app.status == choice.0%}selected{%endif%} value="{{choice.0}}">{{choice.1}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="tag">Tag (visible to recruiters):</label>
					</td>
					<td>
						<select name="tag" class="form-control" style="height: 20px; padding: 0;" id="tag">
							{% for choice in app.TAG_CHOICES %}
								<option {%if app.tag == choice.0%}selected{%endif%}  value="{{choice.0}}">{{choice.1}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			</table>
			<p><strong>Note: The "Interview" tag is an exception and will be visible to the applicant!</strong></p>
			<input name="updatestatus" type="submit">
			{%csrf_token%}
		</form>
		<hr>
		<h4>Comments</h4>
			<form action="" method="POST">
				<textarea name="commentbody" rows="3" class="newcomment form-control" placeholder="Type your comment here"></textarea>
				<input name="newComment" type="submit" class="pull-right">
				{%csrf_token%}
			</form>
			<hr>
			{% if app.comment_set.length.all == 0 %}
				<div class="alert alert-info">There are no comments yet</div>
			{% else %}
				{% for c in app.comment_set.all reversed %}
					{% if c.auto_generated %}
						<div class="alert auto">{{c.date}} -  <strong><a href="{% url "core:playerProfile" c.author|slugify %}">{{c.author}}</a></strong> {{c.text}}</div>
					{% else %}
						<div class="alert comment"><img style="border-radius: 5px;" src="//image.eveonline.com/Character/{{c.author.mainChar.charID}}_32.jpg"> <strong><a href="{% url "core:playerProfile" c.author|slugify %}">{{c.author}}</a></strong> wrote: <span class="pull-right">{{c.date}}</span>
	<pre class="commentbody">{{c.text}}</pre></div>
					{% endif %}
					
				{% endfor %}
			{% endif %}

		<hr>
		<select class="form-control skillplandropdown">
			{% for char in profile.character_set.all %}
				<option {% if char == app.applicantProfile.mainChar %}selected="true"{% endif %} value="{{char.charID}}">{{char.charName}}</option>
			{% endfor %}
		</select>
		<div class="skillplans">
			{% skillplans app.applicantProfile.mainChar %}
		</div>
		<hr>
		<h4>Flyable Ships:</h4>
			{% for group in ships %}
			<div class="col-sm-3">
				<h5>{{group.group}}</h5>
				{% for ship in group.ships %}
					{% if ship.pilots %}
						<strong><img src="https://image.eveonline.com/Type/{{ship.shipID}}_32.png"> {{ship.name}}</strong><br>{{ship.pilots|join:"<br>"}}<hr>
					{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
	</div>
</div>
{% endblock content %}

{% block title %}{{profile}} - Applications - {{CORP_FULLNAME}}{%endblock title%}

{% block scripts %}
	<script>
		$('body').on('click', '.skillplantoggle', function () {

			$(this).parent().nextAll('div.missingskills').first().toggle();
		});

		$('.skillplandropdown').change(function() {
			$('div.skillplans').html("<br><small>Loading...</small>");
			$.get('/applications/checkplan/'+$(this).val(), function (r) {
				$('div.skillplans').html(r);
			})
		})
	</script>
{% endblock scripts %}