{% extends "layout.html" %}
{% load humanize %}
{% load getapps %}

{% block content %}


 <h1 class="page-header">Accounting <small>BETA</small></h1>

<hr>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">ISK overview</h2>
        
      </div>
      <div class="panel-body">

      	<div style="width: 100%; height: 150px; display: block;">{% plot "combined" combinedHistory %}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Total Wallet Balance: {{currentBalance|intcomma}}</h2>
        
      </div>
      <div class="panel-body">

      	<div style="width: 100%; height: 150px; display: block;">{% plot "walletTotal" walletHistory %}</div>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Total Pending SRP: {{currentSRP|intcomma}}</h2>
      </div>
      <div class="panel-body">
      	<div style="width: 100%; height: 150px; display: block;">{% plot "srpTotal" srpHistory %}</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Total Fuel blocks in Nova: {{currentTotalFuel|intcomma}}</h2>
      </div>
      <div class="panel-body">
      	<div style="width: 100%; height: 150px; display: block;">{% plot "fuelTotal" fuelHistory %}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Fuel blocks in Nova's POSes: {{currentPosFuel|intcomma}}</h2>
      </div>
      <div class="panel-body">
      	<div style="width: 100%; height: 150px; display: block;">{% plot "fuelPOS" fuelPosHistory %}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Fuel blocks in #rekt CHAs: {{currentChaFuel|intcomma}}</h2>
      </div>
      <div class="panel-body">
      	<div style="width: 100%; height: 150px; display: block;">{% plot "fuelCHA" fuelCHAHistory %}</div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
 <script src="/static/js/flot/jquery.flot.js"></script>
 <script src="/static/js/flot/jquery.flot.time.js"></script>
 <script>
 	if (window.plots) {
	 	for (var x=0;x<plots.length;x++) {
	 		$.plot("#"+plots[x][0], plots[x][1], {legend: {position: "nw", backgroundOpacity: 0}, points: {show: false}, lines: {show: true}, yaxis: {min: 0}, xaxis: {mode: "time"}});
	 	}
	 }
 </script>
{% endblock %}

 {% block title %}Accounting - BAERS Core{% endblock title %}