{% extends "layout.html" %}

{% block content %}

<h1>AssetScan</h1>
<form action="" method="POST">
	{% csrf_token %}
	<strong>Item: </strong><input type="text" name="typename" id="item">
	<input type="submit">
</form>

{% if assets or corpAssets %}
	{% if typeName %}
		<h4>Showing Results for <strong>{{typeName}}</strong> <small>(TypeID {{typeID}})</small></h4>
	{% elif containerName %}
		<h4>Showing Contents of <strong>{{containerName}}</strong> <small>({{containerType}})</small></h4>
	{% endif %}
	<table class="table tabe-striped">
		<tr>
			<th>Owner</th>
			<th>Quantity</th>
			<th>Name (Corp Only)</th>
			<th>Location</th>
			<th>Container</th>
			<th>Unpackaged</th>
			<th>"Flag"</th>
		</tr>
		{% for asset in assets %}
		<tr {% if not asset.owner.api.valid %}class="danger"{% endif %}>
			<td><img src="//image.eveonline.com/Character/{{asset.owner.charID}}_32.jpg" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="{{asset.owner.charName}}"><a href="{% url "core:playerProfile" profileName=asset.owner|slugify %}">{{asset.owner}} ({{asset.owner.profile.mainChar}})</a></td>
			<td>{{asset.quantity}}</td>
			<td><a href="{% url "core:assetexpand" asset.itemID %}">{{asset.itemName}}</a></td>
			<td>{{asset.location.0}}</td>
			<td>{% if asset.parentID %}<a href="{% url "core:assetexpand" asset.parentID %}">{{asset.parentName}}</a>{% else %}-{% endif %}</td>
			<td>{{asset.singleton}}</td>
			<td>{{asset.flag.0}}</td>
		</tr>
		{% endfor %}
		{% for asset in corpAssets %}
		<tr>
			<td>{{CORP_FULLNAME}}</td>
			<td>{{asset.quantity}}</td>
			<td><a href="{% url "core:assetexpand" asset.itemID %}">{{asset.itemName}}</a></td>
			<td>{{asset.location.0}} </td>
			<td>{% if asset.parentID %}<a href="{% url "core:assetexpand" asset.parentID %}">{{asset.parentName}}</a>{% else %}-{% endif %}</td>
			<td>{{asset.singleton}}</td>
			<td>{{asset.flag.0}}</td>
		</tr>
		{% endfor %}
	</table>
{% elif not status and typeName %}
	<hr><h4>Cannot find any <strong>{{typeName}}</strong> in assets.</h4>
{% endif %}

{% if status %}
	<hr>
	<h4>{{status}}</h4>
{% endif %}


{% endblock %}

{% block scripts %}
  <script>
    $( "#item" ).autocomplete({
      source: "/corpmarket/typeid",
      minLength: 3
  });
  </script>
{% endblock %}

 {% block title %}AssetScan - {{CORP_FULLNAME}}{% endblock title %}