{% extends "layout.html" %}

{% block content %}


  <h1 class="page-header">Dashboard</h1>
<div class="row dashboardHeader">
  <img src="//image.eveonline.com/Character/{{ mainCharID }}_128.jpg" class="character">
  <h3 class="charName">{{ mainCharName }}</h3>
  <span class="text-muted">{{ charTitle }}</span>
</div>

<hr>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Notifications</h2>
      </div>
      <div class="panel-body">
        {% for notification in notifications %}
          <div class="alert alert-{{notification.cssClass}}" role="alert">{{notification.time|date:"M d H:i"}} - {% autoescape off %}{{notification.content}}{% endautoescape %}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Tasks</h2>
      </div>
      <div class="panel-body">
        {% for task in tasks %}
          <div class="alert alert-{{task.cssClass}}" role="alert">{% autoescape off %}{{task.text}}{% endautoescape %}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



{% endblock %}