{% load hasgroup %}
{% load getapps %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico">

    <title>{% block title %}Dashboard{% endblock %}</title>

    <link href="/static/css/bootstrap-{{request.user.userprofile.theme}}.css" rel="stylesheet">
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico">
    <link rel=search type="application/opensearchdescription+xml" href="/static/search.xml" title="Character Search">
  </head>

  <body>
    <nav class="navbar navbar-{% if request.user.userprofile.theme == "classic" %}inverse{% else %}default{%endif%} navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ CORP_SHORTNAME }} Core</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="margin-bottom: 0;">
        {% timezones %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{%url "core:myProfile" %}">My Profile</a></li>
            <li><a href="{% url "core:logout" %}">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right" method="post" action="{% url "core:searchProfile" %}">
            {% csrf_token %}
            <input type="text" class="form-control" name="searchterm" placeholder="Search character...">
            <input type="submit" style="display: none;">
          </form>
          <form class="navbar-form navbar-right" method="post" action="{% url "core:changeTheme" %}">
            <a style="margin-right: 5px">Theme: </a>
            <select name="theme" class="form-control themeselect" style="margin-bottom: 0;">
              <option {% if request.user.userprofile.theme == "flatly" %}selected{% endif %} value="flatly">Flatly</option>
              <option {% if request.user.userprofile.theme == "darkly" %}selected{% endif %} value="darkly">Darkly</option>
              <option {% if request.user.userprofile.theme == "classic" %}selected{% endif %} value="classic">Classic</option>
            </select>
          </form>
        </div>
      </div>
    </nav>

    <div style="height: 100%">
      <div class="container-fluid" style="height: 100%">
        <div class="row row-offcanvas row-offcanvas-left" style="height: 100%">
          <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" style="height: 100%; z-index: 1000;">
            <ul class="nav nav-sidebar">
              <li {% if request.resolver_match.url_name == "dashboard" %}class="active"{%endif%}><a href="{% url "core:dashboard" %}">Overview <span class="sr-only">(current)</span></a></li>
              <li {% if request.resolver_match.url_name == "keys" %}class="active"{%endif%}><a href="{% url "core:keys" %}">Characters / API Keys</a></li>
              {% if request.user|is_full_member %}
              <li {% if request.resolver_match.url_name == "keys" %}class="active"{%endif%}><a href="{% url "applications:triallist" %}">Trial Member List</a></li>
              {% endif %}
              {% if ALLOW_ANONYMOUS_APP and not request.user|has_group:"Member" %}<li {% if request.resolver_match.url_name == "apply" or request.resolver_match.url_name == "mystatus"%}class="active"{%endif%}><a href="{% url "applications:apply" %}">Application</a></li>{% endif %}
            </ul>
            {% if request.user|has_group:"POS" or request.user|has_group:"Recruiter" or request.user|has_group:"Finance" or request.user|has_group:"Director"%}
            <ul class="nav nav-sidebar">
              <li><a style="font-weight: bold">Management:</a></li>
              {% if request.user|has_group:"POS" %}<li {% if request.resolver_match.url_name == "poslist" %}class="active"{%endif%}><a href="{% url "core:poslist" %}">POS Overview</a></li>{% endif %}
              {% if request.user|has_group:"Recruiter" %}<li {% if request.resolver_match.url_name == "applications" %}class="active"{%endif%}><a href="{% url "applications:applications" %}">Applications <span class="badge">{% get_apps %}</span></a></li>{% endif %}
              {% if request.user|has_group:"Finance" %}<li {% if request.resolver_match.url_name == "srpadmin" %}class="active"{%endif%}><a href="{% url "srp:srpadmin" %}">SRP - Admin <span class="badge">{% get_srps %}</span></a></li>{% endif %}
              {% if request.user|has_group:"Director" %}<li {% if request.resolver_match.url_name == "grouplist" %}class="active"{%endif%}><a href="{% url "core:grouplist" %}">Group Admin</a></li>{% endif %}
              {% if request.user|has_group:"Finance" %}<li {% if request.resolver_match.url_name == "accounting" %}class="active"{%endif%}><a href="{% url "core:accounting" %}">Accounting </a></li>{% endif %}
              {% if request.user|has_group:"Director" %}<li {% if request.resolver_match.url_name == "ticketadmin" %}class="active"{%endif%}><a href="{% url "helpdesk:ticketadmin" %}">Helpdesk - Admin <span class="badge">{% get_tickets %}</span></a></li>{% endif %}
            </ul>
            {% endif %}
            {% if request.user|has_group:"HR" or request.user|has_group:"Director" %}
            <ul class="nav nav-sidebar">
              <li><a style="font-weight: bold">API Tools:</a></li>
              {% if request.user|has_group:"HR" %}<li {% if request.resolver_match.url_name == "memberlist" %}class="active"{%endif%}><a href="{% url "core:memberlist" %}">Member List</a></li>{% endif %}
              {% if request.user|has_group:"Director" %}<li {% if request.resolver_match.url_name == "capcensus" %}class="active"{%endif%}><a href="{% url "core:capcensus" %}">Capital Pilots</a></li>{% endif %}
              {% if request.user|has_group:"HR" %}<li {% if request.resolver_match.url_name == "assetscan" %}class="active"{%endif%}><a href="{% url "core:assetscan" %}">AssetScan</a></li>{% endif %}
              {% if request.user|has_group:"HR" %}<li {% if request.resolver_match.url_name == "skillcheck" %}class="active"{%endif%}><a href="{% url "skillchecker:skillcheck" %}">Skill Checker</a></li>{% endif %}
              {% if request.user|has_group:"HR" %}<li {% if request.resolver_match.url_name == "iskoverview" %}class="active"{%endif%}><a href="{% url "core:iskoverview" %}">Member Finances</a></li>{% endif %}
            </ul>
            {% endif %}
            {% if request.user|has_group:"Member" %}
            <ul class="nav nav-sidebar">
              <li><a style="font-weight: bold">Tools:</a></li>
              {% if request.user|has_group:"Member" %}<li {% if request.resolver_match.url_name == "srplist" %}class="active"{%endif%}><a href="{% url "srp:srplist" %}">SRP</a></li>{% endif %}
              {% if request.user|has_group:"Member" %}<li {% if request.resolver_match.url_name == "timerboard" %}class="active"{%endif%}><a href="{% url "timerboard:timerboard" %}">Timerboard <span class="badge">{% get_timers %}</span></a></li>{% endif %}
              {% if request.user|has_group:"Member" %}<li {% if request.resolver_match.url_name == "cmlist" %}class="active"{%endif%}><a href="{% url "corpmarket:cmlist" %}">Corp Market</a></li>{% endif %}
              {% if request.user|has_group:"Member" %}<li {% if request.resolver_match.url_name == "ticketlist" %}class="active"{%endif%}><a href="{% url "helpdesk:ticketlist" %}">Helpdesk</a></li>{% endif %}
              {% if request.user|has_group:"Member" %}<li {% if request.resolver_match.url_name == "turtletool" %}class="active"{%endif%}><a href="{% url "core:turtletool" %}">Lossmail Lookup</a></li>{% endif %}
            </ul>
            <ul  class="nav nav-sidebar">
              <li><a style="font-weight: bold">External Services:</a></li>
              <!--li {% if request.resolver_match.url_name == "hipchat" %}class="active"{%endif%}><a href="">Hipchat Access</a></li -->
              {% if REDDIT_ENABLED %}
                {% if request.user|has_group:"Member" %}<li {% if request.resolver_match.url_name == "reddit" %}class="active"{%endif%}><a href="{% url "subreddit:reddit" %}">Subreddit Access</a></li>{% endif %}
                {% if request.user|has_group:"HR" %}<li {% if request.resolver_match.url_name == "redditlist" %}class="active"{%endif%}><a href="{% url "subreddit:redditlist" %}">Reddit Account List</a></li>{% endif %}
              {% endif %}
              {% if HIPCHAT_ENABLED %}
                {% if request.user|has_group:"Member" %}<li {% if request.resolver_match.url_name == "hipchat" %}class="active"{%endif%}><a href="{% url "hipchat:hipchat" %}">Hipchat Access</a></li>{% endif %}
                {% if request.user|has_group:"HR" %}<li {% if request.resolver_match.url_name == "hipchatlist" %}class="active"{%endif%}><a href="{% url "hipchat:hipchatlist" %}">Hipchat Account List</a></li>{% endif %}
              {% endif %}
            </ul>
            {% endif %}
            {% get_links %}
          </div>
          <div class="col-sm-9 col-md-10 main">
            <p class="visible-xs">
              <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
            </p>
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/moment.js"></script>    
    <script>
      updateClocks = function () {
        us = moment().utc().add(-7, "hours").format("HH:mm")
        eu = moment().utc().format("HH:mm")
        au = moment().utc().add(10, "hours").format("HH:mm")
        $('.ustz').text(us)
        $('.eutz').text(eu)
        $('.autz').text(au)
      }
      iv = setInterval(updateClocks, 10000)
    </script>
    <script>var csrftoken = "{{ csrf_token }}"</script>
    <script>
      $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
          $('.row-offcanvas').toggleClass('active');
        });
        $('#sidebar').height($(document).height())
      });
      $('select.themeselect').change(function () {
        $.post('{% url "core:changeTheme" %}', {'theme': $(this).val(), 'csrfmiddlewaretoken': '{{csrf_token}}'}, function () {
          document.location.reload()
        })
      })

    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
