{% extends "layout.html" %}

{% block content %}
	<h2>Corp Member Overview</h2>
 	<h4 class="page-header"><a class="toggler" href="javascript:void(0)">[+] Characters with valid API keys  ({{validCharacters|length}})</a></h4>

 	<table class="table table-hover" style="display: none;">
 		<tr>
 			<th>External</th>
 			<th>CharName</th>
 			<td>Main Character</th>
 			<th>Location</th>
 			<th>Ship</th>
 			<th>Joined</th>
 			<td>Last Active</td>
 			<td>Inactive for</td>
 		</tr>
 		{% for char in validCharacters %}
			 <tr>
			 	<td><a href="http://eve-search.com/search/author/{{char.charName}}" target="_blank" alt="{{char.charName}} on EVE-Search"><img width="16px" src="http://eve-search.com/favicon.ico"></a> <a target="_blank"  href="https://zkillboard.com/character/{{char.charID}}/" alt="{{char.charName}} on zKillboard"><img width="16px" src="https://zkillboard.com/favicon.ico"></a> <a href="http://evewho.com/pilot/{{char.charName}}"  target="_blank" alt="{{char.charName}} on EVE-Who"><img src="http://evewho.com/favicon.ico" width="16px"></a></td>
			 	<td><img src="//image.eveonline.com/Character/{{char.charID}}_32.jpg" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="{{char.charName}}"><a href="{% url "core:playerProfile" profileName=char.charName|slugify %}">{{char.charName}}</a></td>
			 	<td>{{char.mainChar}}</td>
			 	<td>{{char.location}}</td>
			 	<td>{{char.shipType}} ({{char.shipName}})</td>
			 	<td>{{char.joinDate}}</td>
			 	<td>{{char.logoffDate}}</td>
			 	<td>{{char.inactiveDays}} days</td>
			 </tr>
 		{% endfor %}
 	</table>

 	<h4 class="page-header"><a class="toggler" href="javascript:void(0)">[+] Characters with invalid API keys  ({{invalidCharacters|length}})</a></h4>
 	 <table class="table table-hover" style="display: none;">
 		<tr>
 			<th>External</th>
 			<th>CharName</th>
 			<th>Location</th>
 			<th>Ship</th>
 			<th>Joined</th>
 			<td>Last Active</td>
 			<td>Inactive For</td>
 		</tr>
 		{% for char in invalidCharacters %}
			 <tr>
			 	<td><a href="http://eve-search.com/search/author/{{char.charName}}" target="_blank" alt="{{char.charName}} on EVE-Search"><img width="16px" src="http://eve-search.com/favicon.ico"></a> <a target="_blank"  href="https://zkillboard.com/character/{{char.charID}}/" alt="{{char.charName}} on zKillboard"><img width="16px" src="https://zkillboard.com/favicon.ico"></a> <a href="http://evewho.com/pilot/{{char.charName}}"  target="_blank" alt="{{char.charName}} on EVE-Who"><img src="http://evewho.com/favicon.ico" width="16px"></a></td>
			 	<td><img src="//image.eveonline.com/Character/{{char.charID}}_32.jpg" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="{{char.charName}}">{{char.charName}}</td>
			 	<td>{{char.location}}</td>
			 	<td>{{char.shipType}}</td>
			 	<td>{{char.joinDate}}</td>
			 	<td>{{char.logoffDate}}</td>
			 	<td>{{char.inactiveDays}} days</td>
			 </tr>
 		{% endfor %}
 	</table>

 	{% if validAlts %}
 	 	<h4 class="page-header"><a class="toggler" href="javascript:void(0)">[+] Alt corp characters with valid API keys  ({{validAlts|length}})</a></h4>

	 	<table class="table table-hover" style="display: none;">
	 		<tr>
	 			<th>External</th>
	 			<th>CharName</th>
	 			<td>Main Character</th>
	 			<th>Location</th>
	 			<th>Ship</th>
	 			<th>Joined</th>
	 			<td>Last Active</td>
	 			<td>Inactive for</td>
	 		</tr>
	 		{% for char in validAlts %}
				 <tr>
				 	<td><a href="http://eve-search.com/search/author/{{char.charName}}" target="_blank" alt="{{char.charName}} on EVE-Search"><img width="16px" src="http://eve-search.com/favicon.ico"></a> <a target="_blank"  href="https://zkillboard.com/character/{{char.charID}}/" alt="{{char.charName}} on zKillboard"><img width="16px" src="https://zkillboard.com/favicon.ico"></a> <a href="http://evewho.com/pilot/{{char.charName}}"  target="_blank" alt="{{char.charName}} on EVE-Who"><img src="http://evewho.com/favicon.ico" width="16px"></a></td>
				 	<td><img src="//image.eveonline.com/Character/{{char.charID}}_32.jpg" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="{{char.charName}}"><a href="{% url "core:playerProfile" profileName=char.charName|slugify %}">{{char.charName}}</a></td>
				 	<td>{{char.mainChar}}</td>
				 	<td>{{char.location}}</td>
				 	<td>{{char.shipType}} ({{char.shipName}})</td>
				 	<td>{{char.joinDate}}</td>
				 	<td>{{char.logoffDate}}</td>
				 	<td>{{char.inactiveDays}} days</td>
				 </tr>
	 		{% endfor %}
	 	</table>
	 {% endif %}


 	{% if invalidAlts %}
 	 	<h4 class="page-header"><a class="toggler" href="javascript:void(0)">[+] Alt corp characters with invalid API keys  ({{invalidAlts|length}})</a></h4>
	 	 <table class="table table-hover" style="display: none;">
	 		<tr>
	 			<th>External</th>
	 			<th>CharName</th>
	 			<th>Location</th>
	 			<th>Ship</th>
	 			<th>Joined</th>
	 			<td>Last Active</td>
	 			<td>Inactive For</td>
	 		</tr>
	 		{% for char in invalidAlts %}
				 <tr>
				 	<td><a href="http://eve-search.com/search/author/{{char.charName}}" target="_blank" alt="{{char.charName}} on EVE-Search"><img width="16px" src="http://eve-search.com/favicon.ico"></a> <a target="_blank"  href="https://zkillboard.com/character/{{char.charID}}/" alt="{{char.charName}} on zKillboard"><img width="16px" src="https://zkillboard.com/favicon.ico"></a> <a href="http://evewho.com/pilot/{{char.charName}}"  target="_blank" alt="{{char.charName}} on EVE-Who"><img src="http://evewho.com/favicon.ico" width="16px"></a></td>
				 	<td><img src="//image.eveonline.com/Character/{{char.charID}}_32.jpg" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="{{char.charName}}">{{char.charName}}</td>
				 	<td>{{char.location}}</td>
				 	<td>{{char.shipType}}</td>
				 	<td>{{char.joinDate}}</td>
				 	<td>{{char.logoffDate}}</td>
				 	<td>{{char.inactiveDays}} days</td>
				 </tr>
	 		{% endfor %}
	 	</table>
 	{% endif %}


 {% endblock content %}

 {% block scripts %}
 	<script>
 		$('a.toggler').click(function () {
 			$(this).parent().nextAll('table').first().slideToggle();
 			if ($(this).text()[1] == "+") {
	 			$(this).text(
	 				$(this).text().replace("+", "-")
	 			)
 			} else {
 	 			$(this).text(
	 				$(this).text().replace("-", "+")
	 			)				
 			}
 		})
 	</script>
 {% endblock scripts %}
  {% block title %}Member List - {{CORP_FULLNAME}}{% endblock title %}