{% extends "layout.html" %}
{% load humanize %}

{% block content %}
 	{% if rf %}
 		<h1 class="page-header">Reinforced</h1>
	 	<table class="table table-hover" style="display: block;">
	 		<tr>
	 			<th>Note</th>
	 			<th>Responsible</th>
	 			<th>Location</th>
	 			<th>Type</th>
	 			<th>Fuel Blocks</th>
	 			<th>Reinforced until</th>
	 			<th>Strontium Clathrates</th>
	 			<th>Allows Corp Access</th>
	 			<th>Allows Alliance Access</th>
	 		</tr>
	 		{% for pos in rf %}
				 <tr id="{{pos.itemID}}">
				 	<td><span>{{pos.note}}</span><input class="noteinput" style="display: none;" value="{{pos.note}}"><a class="edit" href="javascript:void(0)"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
				 	<td>
				 		<span>
					 		{% if pos.owner %}
					 			<img src="//image.eveonline.com/Character/{{pos.owner.mainChar.charID}}_32.jpg" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="{{pos.owner.mainChar.charName}}"><a href="{% url "core:playerProfile" profileName=pos.owner.mainChar.charName|slugify %}">{{pos.owner.mainChar.charName}}</a>
					 		{% else %}
					 			-
					 		{% endif %}
					 	</span>
				 		<input style="display: none;" class="responsible" type="text">
					 	<a class="edit" href="javascript:void(0)"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
				 	</td>
				 	<td>{{pos.location}}</td>
				 	<td>{{pos.info.name}}</td>
				 	<td>{{pos.fuel}} / {{pos.info.maxFuel}}</td>
				 	<td>{{pos.stateTimestamp}}</td>
				 	<td>{{pos.stront}} / {{pos.info.maxStront}}</td>
				 	<td>{{pos.allowCorpMembers}}</td>
				 	<td>{{pos.allowAllianceMembers}}</td>
				 </tr>
	 		{% endfor %}
	 	</table>
	{% endif %}
 	{% if onlining %}
 		<h1 class="page-header">Onlining</h1>
	 	<table class="table table-hover" style="display: block;">
	 		<tr>
	 			<th>Note</th>
	 			<th>Responsible</th>
	 			<th>Location</th>
	 			<th>Type</th>
	 			<th>Fuel Blocks</th>
	 			<th>Fueled until (approx.)</th>
	 			<th>Finishes onlining</th>
	 			<th>Strontium Clathrates</th>
	 			<th>Allows Corp Access</th>
	 			<th>Allows Alliance Access</th>
	 		</tr>
	 		{% for pos in onlining %}
				 <tr id="{{pos.itemID}}">
				 	<td><span>{{pos.note}}</span><input class="noteinput" style="display: none;" value="{{pos.note}}"><a class="edit" href="javascript:void(0)"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
				 	<td>
				 		<span>
					 		{% if pos.owner %}
					 			<img src="//image.eveonline.com/Character/{{pos.owner.mainChar.charID}}_32.jpg" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="{{pos.owner.mainChar.charName}}"><a href="{% url "core:playerProfile" profileName=pos.owner.mainChar.charName|slugify %}">{{pos.owner.mainChar.charName}}</a>
					 		{% else %}
					 			-
					 		{% endif %}
					 	</span>
				 		<input style="display: none;" class="responsible" type="text">
					 	<a class="edit" href="javascript:void(0)"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
				 	</td>
				 	<td>{{pos.location}}</td>
				 	<td>{{pos.info.name}}</td>
				 	<td>{{pos.fuelpercent}}% ({{pos.fuel}}/{{pos.info.maxFuel}})</td>
				 	<td>{{pos.remaining|date:"M d, H:00" }}</td>
				 	<td>{{pos.stateTimestamp}}</td>
				 	<td>{{pos.stront}} / {{pos.info.maxStront}}</td>
				 	<td>{{pos.allowCorpMembers}}</td>
				 	<td>{{pos.allowAllianceMembers}}</td>
				 </tr>
	 		{% endfor %}
	 	</table>
	{% endif %}
 	{% if online %}
 		<h1 class="page-header">Online <small>Estimated monthly consumption: {{monthly|intcomma}} Fuel Blocks ({{monthlyisk|intword}} isk @15k per block)</small></h1>
	 	<table class="table table-hover" style="display: block;">
	 		<tr>
	 			<th>Note</th>
	 			<th>Responsible</th>
	 			<th>Location</th>
	 			<th>Type</th>
	 			<th>Fuel Blocks</th>
	 			<th>Fueled until (approx.)</th>
	 			<th>Strontium Clathrates</th>
	 			<th>Allows Corp Access</th>
	 			<th>Allows Alliance Access</th>
	 		</tr>
	 		{% for pos in online %}
				 <tr id="{{pos.itemID}}">
				 	<td><span>{{pos.note}}</span><input class="noteinput" style="display: none;" value="{{pos.note}}"><a class="edit" href="javascript:void(0)"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
				 	<td>
				 		<span>
					 		{% if pos.owner %}
					 			<img src="//image.eveonline.com/Character/{{pos.owner.mainChar.charID}}_32.jpg" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="{{pos.owner.mainChar.charName}}"><a href="{% url "core:playerProfile" profileName=pos.owner.mainChar.charName|slugify %}">{{pos.owner.mainChar.charName}}</a>
					 		{% else %}
					 			-
					 		{% endif %}
					 	</span>
				 		<input style="display: none;" class="responsible" type="text">
					 	<a class="edit" href="javascript:void(0)"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
				 	</td>
				 	<td>{{pos.location}}</td>
				 	<td>{{pos.info.name}}</td>
				 	<td>{{pos.fuelpercent}}% ({{pos.fuel}}/{{pos.info.maxFuel}})</td>
				 	<td>{{pos.remaining|date:"M d, H:00" }}</td>
				 	<td>{{pos.stront}} / {{pos.info.maxStront}}</td>
				 	<td>{{pos.allowCorpMembers}}</td>
				 	<td>{{pos.allowAllianceMembers}}</td>
				 </tr>
	 		{% endfor %}
	 	</table>
	{% endif %}
 	{% if offline %}
 		<h1 class="page-header">Offline</h1>
	 	<table class="table table-hover" style="display: block;">
	 		<tr>
	 			<th>Note</th>
	 			<th>Responsible</th>
	 			<th>Location</th>
	 			<th>Type</th>
	 			<th>Fuel Blocks</th>
	 			<th>Offline since</th>
	 			<th>Strontium Clathrates</th>
	 			<th>Allows Corp Access</th>
	 			<th>Allows Alliance Access</th>
	 		</tr>
	 		{% for pos in offline %}
				 <tr id="{{pos.itemID}}">
				 	<td><span>{{pos.note}}</span><input class="noteinput" style="display: none;" value="{{pos.note}}"><a class="edit" href="javascript:void(0)"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
				 	<td>
				 		<span>
					 		{% if pos.owner %}
					 			<img src="//image.eveonline.com/Character/{{pos.owner.mainChar.charID}}_32.jpg" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="{{pos.owner.mainChar.charName}}"><a href="{% url "core:playerProfile" profileName=pos.owner.mainChar.charName|slugify %}">{{pos.owner.mainChar.charName}}</a>
					 		{% else %}
					 			-
					 		{% endif %}
					 	</span>
				 		<input style="display: none;" class="responsible" type="text">
					 	<a class="edit" href="javascript:void(0)"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
				 	</td>
				 	<td>{{pos.location}}</td>
				 	<td>{{pos.info.name}}</td>
				 	<td>{{pos.fuel}} / {{pos.info.maxFuel}}</td>
				 	<td>{{pos.stateTimestamp}}</td>
				 	<td>{{pos.stront}} / {{pos.info.maxStront}}</td>
				 	<td>{{pos.allowCorpMembers}}</td>
				 	<td>{{pos.allowAllianceMembers}}</td>
				 </tr>
	 		{% endfor %}
	 	</table>
	{% endif %}
 	<hr>
 {% endblock content %}

 {% block scripts %}
 	<script>
 		var users= {% autoescape off %}{{users}}{% endautoescape %}

 		$('body').on("click", "a.edit", function () {
 			$(this).prev('input').show().select();
 			$(this).prev().prev('span').hide();
 			$(this).hide();
 		});

 		$('body').on('keypress', 'input.noteinput', function (e) {
 			if (e.which == 13) {
 				$.post('/pos/update', {'id': $(this).parent().parent().prop('id'), 'note': $(this).val()});
 				$(this).next('a').show();
 				$(this).prev('span').text($(this).val()).show();
 				$(this).hide();

 			}
 		})
  		updateownerCallback = function (input) {
  			return function (r) {
  				$(input).parent().html(r);
  				$('input.responsible').autocomplete({
					source: users
				});
  			}
  		}
  		$('body').on('keypress','input.responsible', function (e) {
 			if (e.which == 13) {
 				$.post('/pos/updateowner', {'id': $(this).parent().parent().prop('id'), 'owner': $(this).val()}, updateownerCallback(this));
 				$(this).hide();
 			}
 		})

 		$('input.responsible').autocomplete({
			source: users
		});
 	</script>
 {% endblock scripts %}
  {% block title %}POS List - BAERS Core{% endblock title %}