
<h4>Skillplan Progress: <small>(Last Update: {{character.api.lastRefresh}})</small></h4>
{% for plan in result %}
	<span><b>{{plan.name}}</b>: {{plan.completed}} of {{plan.nSkills}} ({{plan.prct}}%) (<a class="skillplantoggle" href="javascript:void(0)">Show/Hide missing</a>)</span><br>
	<div class="missingskills well" style="display:none">
		<b>Missing from {{plan.name}}</b><br>
		{% for skill in plan.missing %}
			<span>{{skill.skill}} level {{skill.level}}</span><br>
		{%endfor%}
	</div>
{% endfor %}
